.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.column {
  width: 600px;
  float: left;
}

.column1 {
  width: 600px;
  float: right;
  background-color: aliceblue;
}

.container {
  border: 2px solid #ccc;

  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
=======
body :hover {
    background-color: rgb(199, 216, 228);

}
#form2 {
    background-color: rgb(62, 78, 92);
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}
h2 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-bottom: 50px;

}
h2 :hover{
    background-color: rgb(99, 121, 141);
}
.col-sm-6{
    padding-top: 30px;
    text-align: center;
}
.card-group{
    text-align: center;
}
.form-group{
    padding-left: 20px;
    padding-right: 20px;
}
#formm {
    padding-left: 470px;
}
#fit{
    font-weight: bold;
    font-size: 25px;
}
#hover00 :hover{
    font-weight: bold;
}
#top {
    float: right;
    padding-right: 40px;
}
#mmm {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#w {
    padding-bottom: 10px;
}
.card-group :hover {
    background-color: rgb(199, 216, 228);
}
#gender {
    color: rgb(133, 150, 165);
}
@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html {
  scroll-behavior: smooth;

}
body {
 background-image: url("img/background.jpg");
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: white;
}


.contact{
  background-image: url('img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

.contact h2{
  text-align: center;
  margin-top: 40px;
  padding-top: 500px;
  padding-bottom: 25px;
  font-family: 'Gabriela', serif;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 25px;
  font-family: 'Quicksand', serif;
}

.form-control::-webkit-input-placeholder {
  color: snow ;
}
#MERGE1{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#MERGE0{
  width: 30%;
}
#comment{
  margin-left: 20%;
  width: 60%;
}
button{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
  padding-top: 40px;
  font-family: 'Cormorant Garamond', cursive;
}
footer p{
  margin-top: 10px;
}

}
