*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  width: 30%;
  float: left;
  margin:50px 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.box img{
  width:100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.box span{
  font-family: monospace;
  float: right;
  font-size: 12px;
}

.box p{
  font-size: 15px;
  line-height: 28px;
  height: 90px;
  overflow: hidden;
}

.box.showContent p{
  height: auto;
}

.box.showContent a.readmore-btn{
  background-color:red;
}

.vid-header{
    background-image: url("../img/img-header-blog.jpg");
    width: auto;
    height: 400px;
    margin: 0px;
}
#video {
  float:right;
    z-index:0;
    margin-left: 150px;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.text p{
  justify-content: center;
  margin-left: 180px;
  font-style: italic;
  font-weight: 100px;
}
.text h2{
   justify-content: center;
  margin-left: 100px;
  text-decoration: underline;
}
img:hover{
    transition: width .35s ease-in-out;
}
.hover:hover {
    opacity: 0.2;
  }

  .item-fade {

    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  .main {
    display:flex;
    flex-direction: column;
    background: /* Your Color or image */;
    min-height: 100vh;
   }

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color:tan;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: teal;
  color: white;
}

.column {
  width: 600px;
  float: left;
}

.column1 {
  width: 600px;
  float: right;
  background-color: aliceblue;
}

.container {
  border: 2px solid #ccc;

  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  #testimonials .container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  
}
#testimonials p :hover {
  background-color: teal;
}

/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

body :hover {
    background-color: rgb(199, 216, 228);

}
#form2 {
    background-color: rgb(62, 78, 92);
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}
h2 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-bottom: 50px;

}
h2 :hover{
    background-color: rgb(99, 121, 141);
}
.col-sm-6{
    padding-top: 30px;
    text-align: center;
}
.card-group{
    text-align: center;
}
.form-group{
    padding-left: 20px;
    padding-right: 20px;
}
#formm {
    padding-left: 470px;
}
#fit{
    font-weight: bold;
    font-size: 25px;
}
#hover00 :hover{
    font-weight: bold;
}
#top {
    float: right;
    padding-right: 40px;
}
#mmm {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#w {
    padding-bottom: 10px;
}
.card-group :hover {
    background-color: rgb(199, 216, 228);
}
#gender {
    color: rgb(133, 150, 165);
}
@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html {
  scroll-behavior: smooth;

}
body {
 background-image: url("img/background.jpg");
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: white;
}


.contact{
  background-image: url('img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;}

.contact h2{
  text-align: center;
  margin-top: 40px;
  padding-top: 500px;
  padding-bottom: 25px;
  font-family: 'Gabriela', serif;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 25px;
  font-family: 'Quicksand', serif;
}

.form-control::-webkit-input-placeholder {
  color: snow ;
}
#MERGE1{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#MERGE0{
  width: 30%;
}
#comment{
  margin-left: 20%;
  width: 60%;
}
button{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
footer{
  text-align: center;
  padding-top: 40px;
  font-family: 'Cormorant Garamond', cursive;
}
footer p{
  margin-top: 10px;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: right;
  height: 100%;
  overflow: auto;
}
.card-container {
  padding: 2px 16px;
  background-color:gainsboro;
}
#card-container2 {
  padding: 2px 16px;
  background-color: gainsboro;
  width: 100%;
}
#card-container3 {
  padding: 2px 16px;
  float: right;
  height: 70%;
  width: 20%;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color:rgb(0, 140, 255);
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color:darkblue;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 200%;
  width: 100%;
}
#header { color:teal;
text-align: center;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: right;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
